body
{
	background-image:url("background.jpg");
	background-repeat:no-repeat;
      background-attachment:fixed;
      background-size:cover;
}

#campo
{
	background-color:black;
	border:none;
	border-radius:20px;
	height:820px;
	width:1150px;
	margin-top:20px;
	margin-left:350px;
	background: rgba(0, 0, 0, 0.5);
}

#logo
{
	width:317px;
	height:140px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:100px;
}

#titolo
{
	text-align:center;
	color:lime;
	font-family:Arial;
	font-size:35px;
}

#barra
{
	background-color:lime;
	width:1000px;
	height:50px;
	line-height:50px;
	margin:auto;
}

#pulsanti
{
	margin:auto;
	width:100%;
	text-align:center;
}

#opzione
{
	margin-top:30px;
	margin-left:75px;
}

#monopattino
{
	font-family:Arial;
	color:white;
	font-size:20px;
	font-weight:bold;
}

#descrizione1
{
	font-family:Arial;
	color:white;
	margin-left:75px;
	margin-top:5px;
}

#descrizione2
{
	font-family:Arial;
	color:white;
	margin-left:75px;
	margin-top:-10px;
}

#carica1
{
	height:25px;
	width:300px;
	margin-left:75px;
	margin-top:-10px;
	border-radius:5px;
	background-color:#f5b53d;
}

#carica2
{
	height:25px;
	width:600px;
	margin-left:75px;
	margin-top:-10px;
	border-radius:5px;
	background-color:#23d935;
}

#carica3
{
	height:25px;
	width:150px;
	margin-left:75px;
	margin-top:-10px;
	border-radius:5px;
	background-color:#ad2a2a;
}